body{
    background-image: url(bgn.jpg);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#overall{
    width: 800px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#description{
    font-size: 60px;
    padding-top: 120px;
}

#mystery_word{
    width: 100%;
    height: 500px;
    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    
    bottom: 100px;
    padding-bottom: 100px;
}

.underline{
    width: calc(80%/8);
    height: 12px;
    background: white;
    border-radius: 50px / 50px;
    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    
    
}

#mystery_word span {
    font-size: calc(600px/8);;
    padding-bottom: 10px;
}

#lifes{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.lifebar{width: 100px; height: 20px}
.isLifeTrue{
    background: linear-gradient(120deg, rgb(7, 123, 7) 0%, rgb(135, 209, 135) 100%);
}
.isLifeFalse{
    background: linear-gradient(120deg, rgb(116, 61, 61) 0%, rgb(229, 38, 38) 100%);
}

#btn_list{
    width: 40%;
    height: 40%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.btn {
  display: inline-block;
  padding: 20px 75px;
  font-size: 48px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 50px;
  box-shadow: 0 19px rgba(0, 0, 0,0.2);
}

.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 10px rgba(0, 0, 0,0.2);
  transform: translateY(9px);
}

#about{
    visibility:hidden;
}

.popout {
    position: absolute;
    bottom: 80px;
    left: auto;
    right: auto;
    
    width: 800px;
    height: 100px;
    
    font-size: 40px;
    
    background-color: rgba(0, 0, 0,0.68);
    border-radius: 80px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#helper{
    visibility: hidden;
}
#letterKey{
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    
    color: rgba(255, 255, 255,0);
    font-size: 6;}

.animationAppearLetter{animation: appeardisappear 1.25s;}
.goodAnswer{animation: goodAnswer 1.25s;}
.badAnswer{animation: badAnswer 1.25s;}

@keyframes appeardisappear {
    0% {
    color: rgba(255, 255, 255,0.0);
        font-size: 60px;
  }
  50% {
    color: rgba(255, 255, 255,1);
        font-size: 440px;
  }
  100% {
    color: rgba(255, 255, 255,0);
        font-size: 60px;
  }
}

@keyframes goodAnswer {
    0% {
    color: rgba(255, 255, 255,0.0);
        font-size: 60px;
  }
  50% {
    color: rgb(58, 222, 77);
        font-size: 440px;
  }
  100% {
    color: rgba(255, 255, 255,0);
        font-size: 60px;
  }
}

@keyframes badAnswer {
    0% {
    color: rgba(255, 255, 255,0.0);
        font-size: 60px;
  }
  50% {
    color: rgb(240, 49, 49);
        font-size: 440px;
  }
  100% {
    color: rgba(255, 255, 255,0);
        font-size: 60px;
  }
}